<div id="header">
    <input class="link nav-bar-item" type="button" value="Sign up" />
    <input class="link nav-bar-item" type="button" value="Login" (click)="navigateToLogin()" />
</div>
<div id="body container">
    <div class="container__row">
        <div class="container__col-md-2 text-center">
            <div class="material-card">
                <div class="material-button-primary">
                    This is a sample topic
                </div>
                <p>
                    Topic#1
                </p>

                <p>
                    Topic#1
                </p>
                <p>
                    Topic#1
                </p>
            </div>
        </div>

        <div class="container__col-md-8 text-center">
            <div class="material-card">
                <p>
                    Main page
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>

        <div class="container__col-md-2 text-center">
            <div class="material-card">
                <p>
                    Right elements
                </p>
            </div>
        </div>
    </div>
</div>