<div class="container">
    <div class="container__row">

        <div class="container__col-md-1 text-center">
        </div>
        <div class="container__col-md-10 text-center">
            <div class="material-card">
                <h2>
                    Login
                </h2>
                <div class="form">
                    <input class="material-input form-item" type="email" value="Email" />
                    <input class="material-input form-item" type="password" value="Password" />
                    <input class="material-button-primary form-item" type="button" value="Login" />
                    <input class="material-button-accent form-item" type="button" value="Register" />
                </div>

            </div>
        </div>

        <div class="container__col-md-1 text-center">
        </div>
    </div>
</div>